---
title: Posts
layout: default
pagination:
  enabled: true
---

<section class="mast section-padding--double">
  <div class="grid">
    <h2>
      All Posts
    </h2>
  </div>
</section>


<div class="section-padding--none">
  <div class="grid-large">
    <hr class="sep"/>
  </div>
</div>


<div class="section-padding--none posts__search">
  <div class="grid-large">
    <i class="fas fa-search"></i>
    <input class="posts__searchbar" id="posts__searchbar" placeholder="Search"/>
  </div>
</div>

<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in paginator.posts %}
        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}

  <script>

  const FilterSearch = ({target: {value}})=>{
    const all_posts = Array.from(document.getElementsByTagName("article"));
    if(value == ""){
      all_posts.forEach((post)=>{
        post.classList.remove("hidden");
      })
    }
    else{
      const val = value.split(/(OR|\|\|)+/).map((item)=>(item.split(/(AND|\&\&)+/).map((query=>(query.trim().toLowerCase())))));
      all_posts.forEach(
        (post)=>{
            let visible = false;
            const search_string = post.innerText.toLowerCase();
            for(let search of val){
              if(search.length == 1 && search[0].length==0);
              let mark_visible = true;
              for(let query of search){
                if(query.length == 0) continue;
                if(!search_string.includes(query.toLowerCase())){
                  mark_visible = false;
                  break;
                }
              }
              if(mark_visible){
                visible = true;
                break;
              }
            }

            if(!visible) post.classList.add("hidden");
            else post.classList.remove("hidden")
          }
        )
    }
  };

  document.getElementById("posts__searchbar").addEventListener("input", FilterSearch);

  </script>

</div>
