<section class="contact popup">
  <div class="popup__close">
    <div class="popup__exit"></div>
  </div>
  <div class="contact__container popup__container">
    <div class="contact__img">
      <figure class="absolute-bg" style="background-image: url({{ site.contact_img | prepend: site.baseurl }});">
      <div style="text-decorations: none; text-align: right; right: 0; bottom: 0; position: absolute; font-size: 10px;">

        Photo by <strong><a style="text-decorations: none; color: black; "href="https://www.pexels.com/@scottwebb?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Scott Webb</a></strong> from Pexels
      </div>
</figure>
    </div>
    <div class="contact__content">
      <div class="contact__mast section-padding--half">
        <div class="grid">
          <h2>Contact</h2>
        </div>
      </div>

      <div class="section-padding--none">
        <hr class="sep"/>
      </div>

      {% if site.contact %}
        <div class="contact__mast section-padding--half">
            <ul>
              {% for contact in site.contact %}
                <li><a style="color: #222222;" href="{{ contact['url'] }}" target="_blank">{{ contact['value'] }}</a></li>
              {% endfor %}
            </ul>
        </div>

        <div class="section-padding--none">
          <hr class="sep"/>
        </div>
      {% endif %}

      <div class="contact__form section-padding--half">
        <div class="grid-xlarge">
          <p style="text-align: justify;">
            Hi! <br /> <br />
            I'm always available to discuss technical consulting projects, interesting tech, or other projects.
            If you want to contact me for this, 
            <a href="mailto://vaishnavsm@gmail.com" target="_blank" style="color: #555555">
              <strong>emailing</strong> at vaishnavsm@gmail.com
            </a>
            is the best way to reach me. <br /> <br />
            If you just want to say hi, or just chat for funsies, hmu on 
            <a href="https://www.instagram.com/_vaishnavsm_/" target="_blank" style="color: #555555">
              instagram
            </a>
            . That's what I check when I'm free and in a conversing mood &#x1F680;.
          </p>
          <div id="form"></div> <!-- Internally popup uses #form workaround -->
          <!-- {% include formcarry.html %} -->
        </div>
      </div>
    </div>
  </div>
</section>
