<form id="form" class="form" action="{{ site.formcarry }}" method="POST">
  <div>
    <label for="form-name">Name</label>
    <input type="text" name="name" id="form-name" required>
  </div>

  <div>
    <label for="form-email">E-Mail</label>
    <input type="email" name="email" id="form-email" required>
  </div>

  <div>
    <label for="form-email">Phone</label>
    <input type="text" name="phone" id="form-phone">
  </div>

  <div>
    <label for="form-message">Message</label>
    <textarea name="message" id="form-message" rows="3"></textarea>
  </div>

  <div class="form__submit">
    <div class="form__btn">
      <input type="submit" value="Send">
    </div>
  </div>

  <p class="form__message"></p>
</form>
